<h2>Users:</h2>
<button [ngClass]="currentClasses" [disabled]="!enableAdd" class="btn btn-block mb-3 btn-primary">Add new User</button>
<ul class="list-unstyled" *ngIf="users?.length > 0 && loaded">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive"
        [style.border-color]="user.isActive ? 'green' : ''">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" [src]="user.image" alt="">
            </div>
            <div class="col-sm-4">
                <h3 class="raven" [ngStyle]="currentStyles">{{ user.firstname + " " + user.lastname}}</h3>

                <ul class="list-group" *ngIf="showExtended">
                    <li class="list-group-item">Adress details:</li>
                    <li class="list-group-item">Street: {{user.adress.street}}</li>
                    <li class="list-group-item">City: {{user.adress.city}}</li>
                    <li class="list-group-item">State: {{user.adress.state}}</li>
                    <li class="list-group-item">Balance: {{user.balance | currency:"EUR"}}</li>
                    <li class="list-group-item">Joined: {{user.registered | date:"short"}}</li>
                </ul>
            </div>
        </div>


    </li>
</ul>

<h4 *ngIf="users?.length < 1 && loaded">No Users found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>